<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Full Stack Exercise Challenge</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style/style.css"/>
  </head>
  <body>
    <div id="video">
      <iframe></iframe>
    </div>
    <div id='app'>
      <div class="comment_column login" v-if="state == 0">
        <ul id='comment_box'>
          <li v-for="comment in comments">
            <div class="comment_header">
              <span class="avatar">{{comment.avatar}}</span><span>{{comment.username}}</span>
            </div>
            <p>{{comment.comment}}</p>
          </li>
        </ul>
        <form @submit.prevent="login">
          <label for="username">Insert your username to join the conversation!</label>
          <input class="textbox" type="text" id="username" placeholder="Insert your username here..." v-model:value="username" />
          <input class="button" type="submit" value="Join" />
        </form>
      </div>
      <div class="comment_column" v-if="state == 1">
        <ul id='comment_box'>
          <li v-for="comment in comments">
            <div class="comment_header">
              <span class="avatar">{{comment.avatar}}</span><span>{{comment.username}}</span>
            </div>
            <p>{{comment.comment}}</p>
          </li>
        </ul>
        <form @submit.prevent="sendComment">
          <input class="textbox" type="text" placeholder="Your comment here..." v-model:value="comment" />
          <input class="button" type="submit" value="Send" />
        </form>
      </div>
    </div>
    <footer>
    </footer>
  </body>
  <script>
    let socket = null;
    const app = new Vue({
      el: "#app",
      data: {
        comment: '',
        comments: [],
        state: 0,
        username: '',
        avatar: ''
      },
      methods: {
        sendComment: function() {
          socket.emit('comment', this.comment);
          this.comment = '';
        },
        login: function() {
          socket.emit('join', this.username);
          this.username = '';
          this.state = 1;
        }
      },
      created: function() {
        socket = io();
      },
      mounted: function() {
        socket.on('comment', function(comment) {
          app.comments.push(comment);
        })
      }
    })
  </script>
</html>
